.newsletter {
  background-color: #f2f3f4;
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.newsletterTitle {
  line-height: 1.3;
  color: #0a0a0a;
}

.newsletterDescription {
  max-width: 450px;
  color: #0a0a0a;
}

.form {
  display: flex;
}

.formInput {
  background-color: transparent;
  border: 1px solid #0a0a0a;
  padding: 15px 20px;
  min-width: 360px;
  color: #0a0a0a;
}
.btnSubmit {
  background-color: #0a0a0a;
  color: #f2f0ec;
  border: none;
  padding: 15px 20px;
  margin-left: 15px;
}
